<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center">Ingresar presupueto</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <div class="card">
        <div class="card-body">
          <input type="text" class="form-control" placeholder="Ingrese su presupuesto">
          <div class="d-grid gap-2 mt-1">
            <button class="btn btn-primary" type="button">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
